
body {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

  H1 { color: blue; font: bold 24pt Helvetica, Arial, sans-serif }
  H2 { color: blue; font: bold 18pt Helvetica, Arial, sans-serif }
  H3 { color: rgb(8, 8, 138); font: bold 15pt Helvetica, Arial, sans-serif }

#sections A {
    color: blue;
    font: bold 16pt Helvetica, Arial, sans-serif;
    text-decoration: none;
    border: none;
    background-color: white;
}

#sections A:hover {
    color: rgb(8, 8, 138);
    font: bold 15pt Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
}

#info A {
  color: rgb(8, 8, 138);
    font: bold 15pt Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#info A:hover {
  color: rgb(8, 8, 138);
    font: bold 14pt Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
    text-align: center;
}

#pressed A {
  color: rgb(8, 8, 138);
    font: bold 15pt Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
}