
body {
    background-color: white;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
}



  H1 { color: blue; font: bold 2.5vw Helvetica, Arial, sans-serif }
  H2 { color: blue; font: bold 1.8vw Helvetica, Arial, sans-serif }
  H3 { color: rgb(8, 8, 138); font: bold 2vw Helvetica, Arial, sans-serif }

#sections A {
    color: blue;
    font: bold 1.8vw Helvetica, Arial, sans-serif;
    text-decoration: none;
    border: none;
    background-color: white;
}

#sections A:hover {
    color: rgb(8, 8, 138);
    font: bold 1.7vw Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
}

#info A {
  color: rgb(8, 8, 138);
    font: bold 1.7vw Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#info A:hover {
  color: rgb(8, 8, 138);
    font: bold 1.7vw Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
    text-align: center;
}

#pressed A {
  color: rgb(8, 8, 138);
    font: bold 1.7vw Helvetica, Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    transform: rotate(3deg);
}